<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Demo</title>

    <link rel="stylesheet" href="assets/vendor<%= version %>.css">
    <link rel="stylesheet" href="assets/app<%= version %>.css">
  </head>
  <body>
    Wellcome !!!

    <div ng-view></div>

    <script type="text/javascript" src="assets/vendor<%= version %>.js"></script>

    <% if (!version) { %>
      <script data-main="assets/main.js" src="assets/require.js"></script>
    <% } else { %>
      <script type="text/javascript" src="assets/app<%= version %>.js"></script>
    <% } %>
  </body>
</html>
